<!DOCTYPE html>

<html>

<head>
  <title>URL Shortener</title>
  <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h2>API Project: URL Shortener Microservice</h2>
    <h3>User Story: </h3>
    <ol>
      <li>I can POST a URL to <code>[project_url]/api/shorturl/new</code> and I will receive a shortened URL in the
        JSON response.<br>Example : <code>{"original_url":"https://www.google.com","short_url":nMmdIWPTz}</code></li>
      <li>If I pass an invalid URL that doesn't follow the <code>http(s)://www.example.com(/more/routes)</code> format,
        the JSON response will contain an error like <code>{"error":"invalid URL"}</code><br>
      </li>
      <li>When I visit the shortened URL, it will redirect me to my original link.</li>
    </ol>

    <h3>Short URL Creation </h3>
    <p>
      example: <code>POST [project_url]/api/shorturl/new</code> - <code>https://www.google.com</code>
    </p>
    <form action="api/shorturl/new" method="POST">
      <label for="url_input">URL to be shortened</label>
      <input id="url_input" type="text" name="url" value="https://www.freecodecamp.com">
      <input type="submit" value="POST URL">
    </form>
    <h3>Example Usage:</h3>
    <table align="center">
      <tbody>
        <tr>
          <td><strong>SHORTENED</strong></td>
          <td><strong>REDIRECTS TO</strong></td>
        </tr>
        <tr>
          <td>
            <a href="https://abaft-football.glitch.me/api/shorturl/MFrhj4-eb">
              /api/shorturl/MFrhj4-eb
            </a>
          </td>
          <td>
            https://omik.github.io
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://abaft-football.glitch.me/api/shorturl/_fkGKiW6Z">
              /api/shorturl/_fkGKiW6Z
            </a>

          </td>
          <td>
            https://www.freecodecamp.com
          </td>
        </tr>

      </tbody>
    </table>

    <h3>
      DISCLAIMER
    </h3>
    <p>
      This project was made as a learning tool.<br>
      Please do not rely on availability or reliability of this URL Shortener.
    </p>
  </div>
  <div class="footer">
    <h4>Proudly <em>Backended</em> by Jesús Muñoz a.k.a. "omiK"</h4>
    <a href="https://omik.github.io" target="_blank">omik.github.io</a>
  </div>
</body>

</html>